.layout {
  width: 100%;
  height: 100%;
}

.el-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 15px 0 15px;
  background-color: var(--el-bg-color);
  border-bottom: 1px solid var(--el-border-color-light);
  box-shadow: var(--el-box-shadow-light);

  .header-lf {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;

    .logo {
      flex-shrink: 0;
      width: 210px;
      height: 100%;
      margin-right: 10px;

      .logo-img {
        width: 28px;
        height: 28px;
        margin-right: 10px;
      }

      .logo-text {
        font-size: 20px;
        font-weight: bold;
        color: var(--el-text-color-primary);
        white-space: nowrap;
      }
    }
  }

  .header-ri {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.classic-content {
  display: flex;
  height: calc(100% - 55px);

  .el-aside {
    width: auto;
    background-color: var(--el-menu-bg-color);
    border-right: 1px solid var(--el-border-color-light);
    transition: width 0.3s;

    .aside-box {
      width: 210px;
      height: 100%;
      transition: width 0.3s;

      .el-menu {
        width: 100%;
        border-right: none;
      }
    }
  }

  .classic-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }
}

.el-main {
  box-sizing: border-box;
  padding: 10px 12px;
  overflow-x: hidden;
  background-color: var(--el-bg-color-page);
}

.el-footer {
  height: auto;
  padding: 0;
}
